/* imports */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Signika:wght@700&display=swap');

/* variables */

$basic-font: 'Inconsolata',monospace;
$dark-color: #2c2c54;
$light-color: #ffffff;
$main-color: #0097e6;
$secondary-color: #33d9b2;
$special-color: #ff5252;
$special-font: 'Signika',sans-serif;
$transition: all 1s;

/* mixins */

@mixin form-styling {
    background: $main-color;
    border:none;
    border-bottom-style: solid;
    border-color:$light-color;
    font-family: $basic-font;
    margin: 10px 0; 
    padding: 5px;
    text-align: left;
}

/* global styles */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: $dark-color;
    font-family: $basic-font;
    font-size: 16px;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 20px;
}

section {
    padding: 96px 0;
}

.btn {
    background-position: 100% 0;
    background-size: 300%;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    display: inline-block;
    font-family: $basic-font;
    font-size: 16px;
    margin: 24px auto 0 auto;
    min-width: 160px;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    &:hover {
        background-position: 0 100%;
        color: $light-color;
        transition: $transition;
    }
}

.btn-one {
    background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
    border-color: $light-color;
    color: $light-color;
    &:hover {
        color: $dark-color;
    }
}

.btn-two {
    background-image: linear-gradient(90deg, $secondary-color 50%, transparent 50%);
    border-color: $secondary-color;
    color: $secondary-color;
    &:hover {
        color: $light-color;
    }
}

.btn-three {
    background-image: linear-gradient(90deg, $special-color 50%, transparent 50%);
    border-color: $special-color;
    color: $special-color;
    &:hover {
        color: $light-color;
    }
}

.btn-four {
    background-image: linear-gradient(90deg, $main-color 50%, transparent 50%);
    border-color: $main-color;
    color: $main-color;
    &:hover {
        color: $light-color;
    }
}

.btn-five {
    border: none;
    color: $main-color;
    margin: 36px 0;
    padding: 0;
    text-align: left;
    &:hover {
        color: $special-color;
    }
}

.section-title {
    font-size: 48px;
    margin: 0 0 72px 0;
}

.article-title {
    font-size: 24px;
    margin: 0 0 12px 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

/* navigation */

.navigation {
    background-color: $main-color;
    padding: 12px 0;

    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;

        .menu-item {
            display: inline-block;
            margin: 0 36px 0 0;
            position: relative;

            .submenu {
                display: none;
            }

            &:hover {
                .submenu {
                    background-color: darken($color: $light-color, $amount: 2%);
                    color: $dark-color;
                    display: block;
                    left: 50%;
                    position: absolute;
                    transform: translateX(-50%);
                    transition: $transition;
                    width: 100px;
                    width: 100px;
                }
            }

            .submenu {
                .submenu-item {
                    display: block;
                    padding: 5px 15px 15px 0;
                    text-align: right;

                    .submenu-item-link {
                        text-decoration: none;

                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }
            }
        }

        .menu-item-link {
            color: $light-color;
            text-decoration: none;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}
/* splash styles */

.splash {
    background-color: $main-color;
    display: flex;
    min-height: 500px;
    .splash-inner {
        color: $light-color;
        margin: auto;
        max-width: 70%;
        .page-title {
            font-size: 72px;
            font-weight: 700;
            line-height: 1.2;
            margin: 0;
            word-spacing: -24px;
        }
        .page-subtitle {
            font-size: 16px;
            font-weight: 400;
            margin: 24px 0;
        }
        .creatively-span {
            font-family: $special-font;
            font-weight: 700;
        }
    }
}
/* services style */

.box {
    flex: 0 0 33.333%;
    position: relative;
    .big-number {
        color: $secondary-color;
        font-family: $special-font;
        font-size: 144px;
        left: 2px;
        line-height: 1;
        opacity: 0.25;
        position: absolute;
        top:-28px;
    }
    .box-text:first-of-type {
        font-weight: 700;
    }
}

/* our work styles */

.workbox {
    display: flex;
    flex: 0 0 50%;
    flex-direction: row;
    margin: 0 0 96px 0;
    min-height: 300px;
    width: 96px;
}

.workbox-img {
    flex: 0 0 50%;
    height: 100%;
    max-width: 250px;
    position: relative;
    
    &:hover{
        &::after{
            left: 0;
            position: absolute;
            top: 0;
            transition: 0.5s ease-in-out;
}
    }
    img {
        height: 100%; 
        object-fit: cover;
        width: 100%;
    }
    &::after {
        background-color: $secondary-color;
        content: '';
        height: 100%;
        left: 20px;
        opacity: 0.3;
        position: absolute;
        top: 20px;
        width: 100%;
        transition: 0.5s ease-in-out;
       
    }
    
}
.workbox-description {
    flex: 0 0 59%;
    padding: 36px 36px 0 36px;
    text-align: left;
    .box-text:last-of-type{
        font-weight: 700;
    }
}

/* contact */

.contact {
    background: $main-color;
    color: $light-color;
}

.contact-form {
    align-items: left;
    border: none;
    display: flex;
    flex-flow: column nowrap;
    flex: 2 0 0;
    justify-content: left;
    padding-right: 96px;
    .btn {
         margin-left: 0px;
    }
}

input, textarea {
    @include form-styling();
    &::placeholder {
        color: $light-color;
        opacity: 1; 
    }
}

.contact-detail {
    align-items: left;
    border: none;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 0; 
    justify-content: left;
}



.contact-detail-title {
    font-size: 20px;
    font-weight: 800; 
    margin-bottom: 0;
}

.form-title {
    margin-bottom: 100px;
}

/* footer */

.page-footer {
    margin: 0 auto;
    .footer-social-media {
        display: flex;
        margin: 48px 0px;
        list-style-type: none;
        justify-content: center;
    }
    .footer-social-media-item {
        margin: 0 10px;
        text-align: center;
    }
    a {
        font-size: 0;
    }
    .fab {
        font-size: 30px;
        background: $special-color;
        color: $light-color; 
        border-radius: 50%;
        width: 60px;
        height: 60px;
        line-height: 60px;
        &:hover {
            transform: scale(1.2, 1.2);
        }
    }
}

/* @media queries */

